[Unit]
Description=Check restic backup for errors on a schedule

[Timer]
# Check backups weekly on Friday morning
OnCalendar=Fri *-*-* 09:00:00
Persistent=true

[Install]
WantedBy=timers.target