[Unit]
Description=Check restic backup for errors
OnFailure=status-email-user@%n.service
Conflicts=restic.service

[Service]
Type=simple
Nice=10
ExecStart=/usr/bin/restic_check.sh
